{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}
{% block header %}Электронное портфолио{% endblock %}
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <p><a href="{{ path('logout') }}">Выйти</a></p>
    {% else %}
        <p><a href="{{ path('signup') }}">Зарегистрироваться</a></p>
        <p><a href="{{ path('login') }}">Войти</a></p>
    {% endif %}
{% endblock %}
