html {
    position: relative;
    min-height: 100%;
}
body {
    background: #e2e2e2;
    margin-bottom: 60px;
}
.content {
    background: white;
}

label.required:after {
    content: " *";
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}