{% extends 'base.html.twig' %}

{% block title %}Результаты поиска{% endblock %}
{% block header %}Результаты поиска{% endblock %}

{% block body %}
    {% if students|length > 0 %}
    <ul>
        {% for student in students %}
        <li><a href="{{ path('student_show', {'id': student.id}) }}">{{ student.lastName }} {{ student.firstName }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Нет результатов</p>
    {% endif %}
    <p><a href="{{ path('search') }}">Вернуться к поиску</a></p>
{% endblock %}